body {
  background-image: url("lake_event.jpg");
}

.row {
  margin-top: 25px;
  
}

.name-box {
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

h1, li {
  color: white;
}

.nav-link {
   color: white;
   font-weight: bold;
}
